# dependencies
node_modules/

# expo
.expo/
.expo-shared/

# native (DO NOT COMMIT)
android/
ios/

# build
dist/
build/

# logs
*.log

# OS / Windows
AppData/
Thumbs.db
.DS_Store

# cache
*.cache
*.sqlite
